*{
    box-sizing: border-box;
}
body{
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 0;
    font-family: "Roboto", sans-serif;
    background-color: rgba(163,239,237,1);
    position: relative;

}


.background{
    background: url("images/background.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 50vw;
    height: 50vw;
    text-align: center;
    
    margin: auto;
    margin-bottom: 0;
    /* position: relative; */

}

/* .container { 
    position: relative;
    top: 5%;
     } */

.title{
    font-size: 36px;
    color: rgb(0, 45, 85);
}

.containera{
    width: 80%;
    height: auto;
    margin: auto;
    
    padding: 10px;
    /* box-shadow: 0px 0px 41px white; */
    margin-bottom: 10px;
    margin-top: 0;
    background-color: rgba(230, 247, 246,1);
    color: rgb(0, 45, 85);
    padding-bottom: 40px;
    
    
}


.after{
    display: flex;
    flex-direction: column;
    width: 50%;
    padding: 10px;
}

.item{
    flex:1 0 100%;
    width: 100%;
}


label{
    width: 80%;
    display: block;
    margin: auto;
    margin-top: 25px;
}
input{
    width: 80%;
    /* margin-top: 3px; */
    height: 2rem;
    display: block;
    margin: auto;
}


.button{
    margin-top: 40px;
    height: 50px;
    font-weight: bolder;
    text-transform: uppercase;
    font-size: 24px;
    color: rgba(163,239,237,1);
    background-color: rgb(0, 45, 85);;
}


/* Unique classes for weather display */ 

.weather-display { 
    width: 50%; 
     background: rgba(0, 45, 85,0.9);
      position: absolute;
    top: 10%;
left: 10%; 
height: fit-content;
padding-bottom: 10px;
    /* margin: 20px auto;  */
    display: flex;
    flex-direction: column;
    color: rgba(163,239,237,1);
} 

.weather-display p{
    display: block;
}

.weather-block { 
    width: 100%; 
    /* text-align: center; */
    
    /* margin-bottom: 20px;  */
    
     margin: auto;
 
} 

.condition-info, .details-info {
    display: flex;
    justify-content: space-around;
    align-items: center;
}





footer{
    width: 100%;
    background-color: rgb(0, 45, 85);
    color: rgba(163,239,237,1);
    text-align: center;
    padding: 7px;
    margin-top: 30px;
}

footer p{
    margin: 0;
}
